@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.sub-header-container {
    @include align-space-btw;
 
    .header-tab {
        background: $app-secondary-theme;
        width: 70%;
        padding: 2rem 1.5rem;
        border-radius: 2rem;
        @include align-space-btw-element;
        gap: 1rem;
    }

    .header-tab-left-content {
        @include align-space-btw-element;
        gap: 1rem;
    }
}
