@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.card-container {
    background: $app-primary-theme;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    transition: all 0.3s ease-in-out;  
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);  
        transform: translateY(-3px); 
        background-color: lighten($app-primary-theme, 5%); 
    }

    .card-header {
        @include align-space-btw;
    }

    .progress {
        @include align-space-btw-element;
        gap: 0.4rem;
        height: 0.7rem;
        background-color: rgb(199, 184, 165);
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: darken(rgb(199, 184, 165), 10%);
        }

        span {
            font-size: 0.6rem;
        }
    }

    .tender-name {
        font-size: 0.9rem;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $app-secondary-theme;  
        }
    }

    .tender-details {
        font-size: 0.7rem;
    }

    .assigned-section {
        @include align-space-btw;

        span {
            font-size: 0.9rem;
        }
    }

    .date-priority-section {
        @include align-space-btw;
        
    }

    .date {
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

    }

    .priority {
        background-color: red;
        width: 20%;
        font-size: 0.5rem;
         border-radius: 0.6rem;
        transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: darken(red, 10%);
            transform: scale(1.05); // Slight pop effect
        }
    }

    .footer {
        display: flex;
        gap: 1rem;
    }

    .comments, .files {
        @include align-space-btw-element;
        gap: 0.3rem;

        span {
            font-size: 0.7rem;
        }

        &:hover {
            color: $app-secondary-theme;
            transform: translateX(2px);  
        }
    }
}
