@import "../../assets/styles/mixin.scss";

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    .header-right-content {
        @include align-space-btw-element;
    }
}
