@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.stackboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 74vh;  
    overflow: hidden;

    .stack-column {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        background-color: $app-secondary-theme;
        height: 100%;
        overflow: hidden;

        .stack-header {
            @include align-space-btw;
            position: sticky;
            top: 0;
            background-color: $app-secondary-theme;
            padding: 10px;
            z-index: 10;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .header-left-content {
            @include align-space-btw-element;
            gap: 0.5rem;

            .total-count-status {
                width: 1rem;
                border-radius: 50%;
                height: 1rem;
                background-color: #0a5f7b;
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .tender-card-container {
            flex: 1;
            width: 95%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0 auto;
            margin-top: 1rem;
            overflow-y: auto;
            max-height: calc(100vh - 60px);
            padding-right: 12px;  
            scrollbar-gutter: stable; 

             
        }
    }
}
