@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.stackboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 1rem;  
    padding: 1rem;
    .stack-header {
        @include align-space-btw;
    }

    .header-left-content {
        @include align-space-btw-element;
        gap: 0.5rem;

        .total-count-status {
            width: 1rem;
            border-radius: 50%;
            height: 1rem;
            background-color: #0a5f7b;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .stack-column {
         padding: 16px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: $app-secondary-theme;

        h2 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .tender-card-container {
            width: 95%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
}
