@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



// Theme Color
$app-primary-theme: #1f2024;
$app-secondary-theme: #000000;;
$app-tertiary-theme : #6e4e27;


$app-scroll-color:#626367;
 


// Text Colors
$text-primary: #b8b8b8;
$text-secondary: #e5e6e7;



// General Color of App
$white:#ffffff;
 

// Status Label Colors
$status-in-progress: #164158;
$status-not-started: #6c4027;
$status-completed:#125524;




//font-family
$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$popinfont: "Poppins", sans-serif;
$black: #000000;
